<h1>Eat-da-Burger!</h1>

<h2>Burgers You Want To Eat!</h2>

<ol>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burger-block}}
    {{/unless}}
  {{/each}}
</ol>

<h2>Burgers You Have Eaten!</h2>

<ol>

  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block}}
    {{/if}}
  {{/each}}

</ol>

<h2>Add a Burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="brgr">Burger Name:</label>
    <input type="text" id="brgr" name="name">
  </div>

  <button type="submit">Add Burger</button>

</form>
