<li>
	{{burger_name}}

	{{#unless devoured}}
		<button class="eat-burger" data-id="{{id}}">
			EAT ME
		</button>
	{{/unless}}

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
