<li>
	{{burger_name}}
	stuff
	<button class="eat-burger" data-id="{{id}}">
		{{#unless devoured}}EAT ME{{/unless}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
